In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('Arquivos/telecom_customer_churn.csv')
pd.set_option('display.max_columns', None)
display(df)

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,9,None,Yes,42.39,No,Yes,Cable,16.0,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,9,None,Yes,10.69,Yes,Yes,Cable,10.0,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.0,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.0,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,3,None,Yes,7.38,No,Yes,Fiber Optic,11.0,No,No,No,Yes,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,13,Offer D,Yes,46.68,No,Yes,DSL,59.0,Yes,No,No,Yes,No,No,Yes,Yes,One Year,No,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,22,Offer D,Yes,16.20,Yes,Yes,Fiber Optic,17.0,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,2,Offer E,Yes,18.62,No,Yes,DSL,51.0,No,Yes,No,No,No,No,No,Yes,Month-to-Month,Yes,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,67,Offer A,Yes,2.12,No,Yes,Cable,58.0,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Two Year,No,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,63,None,No,NaN,NaN,Yes,Cable,5.0,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

# Renomeando as colunas, traduzindo para o portugues

In [82]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [83]:
df = df.rename(columns={'Customer ID':'ID_cliente',
                        'Gender': 'Genero',
                        'Age': 'Idade',
                        'Married': 'Casado',
                        'Number of Dependents':'Qtd_dependentes',
                        'City': 'Cidade',
                        'Zip Code':'Codigo_postal',
                        'Number of Referrals':'Qtd_referencias',
                        'Tenure in Months':'Meses_na_base',
                        'Offer':'Ultima_oferta',
                        'Phone Service':'Servico_telefone',
                        'Avg Monthly Long Distance Charges':'Recarga_longa_distancia',
                        'Multiple Lines':'Multiplas_linhas',
                        'Internet Service':'Servico_internet',
                        'Internet Type':'Tipo_internet',
                        'Avg Monthly GB Download':'Media_mensal_download_GB',
                        'Online Security':'Servico_seguranca',
                        'Online Backup':'Servico_backup',
                        'Device Protection Plan':'Servico_protecao_dispositivo',
                        'Premium Tech Support':'Servico_suporte_preferencial',
                        'Streaming TV':'Servico_tv',
                        'Streaming Movies':'Servico_filmes',
                        'Streaming Music':'Servico_musica',
                        'Unlimited Data':'Servico_ilimitado_dados',
                        'Contract':'Tipo_contrato',
                        'Paperless Billing':'Faturamento_sem_papel',
                        'Payment Method':'Tipo_pagamento',
                        'Monthly Charge':'Cobranca_mensal',
                        'Total Charges':'Total_cobranca',
                        'Total Refunds':'Total_reembolsos',
                        'Total Extra Data Charges':'Cobrancas_extras',
                        'Total Long Distance Charges':'Cobrancas_longa_distancia',
                        'Total Revenue':'Total_cobranca',
                        'Customer Status':'Situacao_cliente',
                        'Churn Category':'Categoria_cancelamento',
                        'Churn Reason':'Motivo_cancelamento' }, inplace=False)

In [84]:
display(df)

,ID_cliente,Genero,Idade,Casado,Qtd_dependentes,Cidade,Codigo_postal,Latitude,Longitude,Qtd_referencias,Meses_na_base,Ultima_oferta,Servico_telefone,Recarga_longa_distancia,Multiplas_linhas,Servico_internet,Tipo_internet,Media_mensal_download_GB,Servico_seguranca,Servico_backup,Servico_protecao_dispositivo,Servico_suporte_preferencial,Servico_tv,Servico_filmes,Servico_musica,Servico_ilimitado_dados,Tipo_contrato,Faturamento_sem_papel,Tipo_pagamento,Cobranca_mensal,Total_cobranca,Total_reembolsos,Cobrancas_extras,Cobrancas_longa_distancia,Total_cobranca,Situacao_cliente,Categoria_cancelamento,Motivo_cancelamento
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,9,None,Yes,42.39,No,Yes,Cable,16.0,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,9,None,Yes,10.69,Yes,Yes,Cable,10.0,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.0,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.0,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,3,None,Yes,7.38,No,Yes,Fiber Optic,11.0,No,No,No,Yes,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,13,Offer D,Yes,46.68,No,Yes,DSL,59.0,Yes,No,No,Yes,No,No,Yes,Yes,One Year,No,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,22,Offer D,Yes,16.20,Yes,Yes,Fiber Optic,17.0,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,2,Offer E,Yes,18.62,No,Yes,DSL,51.0,No,Yes,No,No,No,No,No,Yes,Month-to-Month,Yes,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,67,Offer A,Yes,2.12,No,Yes,Cable,58.0,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Two Year,No,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,63,None,No,NaN,NaN,Yes,Cable,5.0,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

# Analise do dataframe

In [85]:
df.count()

ID_cliente                      7043
Genero                          7043
Idade                           7043
Casado                          7043
Qtd_dependentes                 7043
Cidade                          7043
Codigo_postal                   7043
Latitude                        7043
Longitude                       7043
Qtd_referencias                 7043
Meses_na_base                   7043
Ultima_oferta                   7043
Servico_telefone                7043
Recarga_longa_distancia         6361
Multiplas_linhas                6361
Servico_internet                7043
Tipo_internet                   5517
Media_mensal_download_GB        5517
Servico_seguranca               5517
Servico_backup                  5517
Servico_protecao_dispositivo    5517
Servico_suporte_preferencial    5517
Servico_tv                      5517
Servico_filmes                  5517
Servico_musica                  5517
Servico_ilimitado_dados         5517
Tipo_contrato                   7043
Faturamento_sem_papel           7043
Tipo_pagamento                  7043
Cobranca_mensal                 7043
Total_cobranca                  7043
Total_reembolsos                7043
Cobrancas_extras                7043
Cobrancas_longa_distancia       7043
Total_cobranca                  7043
Situacao_cliente                7043
Categoria_cancelamento          1869
Motivo_cancelamento             1869
dtype: int64

In [86]:
print(df.groupby(['Servico_telefone'])['Servico_telefone'].count())
print(df.groupby(['Servico_internet'])['Servico_internet'].count())

Servico_telefone
No      682
Yes    6361
Name: Servico_telefone, dtype: int64
Servico_internet
No     1526
Yes    5517
Name: Servico_internet, dtype: int64

In [87]:
print(df[df['Servico_internet']=='No'].count())
print('---------------------------------------')
print(df[df['Servico_telefone']=='No'].count())

ID_cliente                      1526
Genero                          1526
Idade                           1526
Casado                          1526
Qtd_dependentes                 1526
Cidade                          1526
Codigo_postal                   1526
Latitude                        1526
Longitude                       1526
Qtd_referencias                 1526
Meses_na_base                   1526
Ultima_oferta                   1526
Servico_telefone                1526
Recarga_longa_distancia         1526
Multiplas_linhas                1526
Servico_internet                1526
Tipo_internet                      0
Media_mensal_download_GB           0
Servico_seguranca                  0
Servico_backup                     0
Servico_protecao_dispositivo       0
Servico_suporte_preferencial       0
Servico_tv                         0
Servico_filmes                     0
Servico_musica                     0
Servico_ilimitado_dados            0
Tipo_contrato                   1526
Faturamento_sem_papel           1526
Tipo_pagamento                  1526
Cobranca_mensal                 1526
Total_cobranca                  1526
Total_reembolsos                1526
Cobrancas_extras                1526
Cobrancas_longa_distancia       1526
Total_cobranca                  1526
Situacao_cliente                1526
Categoria_cancelamento           113
Motivo_cancelamento              113
dtype: int64
---------------------------------------
ID_cliente                      682
Genero                          682
Idade                           682
Casado                          682
Qtd_dependentes                 682
Cidade                          682
Codigo_postal                   682
Latitude                        682
Longitude                       682
Qtd_referencias                 682
Meses_na_base                   682
Ultima_oferta                   682
Servico_telefone                682
Recarga_longa_distancia           0
Multiplas_linhas                  0
Servico_internet                682
Tipo_internet                   682
Media_mensal_download_GB        682
Servico_seguranca               682
Servico_backup                  682
Servico_protecao_dispositivo    682
Servico_suporte_preferencial    682
Servico_tv                      682
Servico_filmes                  682
Servico_musica                  682
Servico_ilimitado_dados         682
Tipo_contrato                   682
Faturamento_sem_papel           682
Tipo_pagamento                  682
Cobranca_mensal                 682
Total_cobranca                  682
Total_reembolsos                682
Cobrancas_extras                682
Cobrancas_longa_distancia       682
Total_cobranca                  682
Situacao_cliente                682
Categoria_cancelamento          170
Motivo_cancelamento             170
dtype: int64

In [88]:
df.loc[df['Tipo_internet'].isnull(),'Tipo_internet'] = 'No'
df.loc[df['Media_mensal_download_GB'].isnull(),'Media_mensal_download_GB'] = 0
df.loc[df['Servico_seguranca'].isnull(),'Servico_seguranca'] = 'No'
df.loc[df['Servico_backup'].isnull(),'Servico_backup'] = 'No'
df.loc[df['Servico_protecao_dispositivo'].isnull(),'Servico_protecao_dispositivo'] = 'No'
df.loc[df['Servico_suporte_preferencial'].isnull(),'Servico_suporte_preferencial'] = 'No'
df.loc[df['Servico_tv'].isnull(),'Servico_tv'] = 'No'
df.loc[df['Servico_filmes'].isnull(),'Servico_filmes'] = 'No'
df.loc[df['Servico_musica'].isnull(),'Servico_musica'] = 'No'
df.loc[df['Servico_ilimitado_dados'].isnull(),'Servico_ilimitado_dados'] = 'No'

df.loc[df['Recarga_longa_distancia'].isnull(),'Recarga_longa_distancia'] = 0
df.loc[df['Multiplas_linhas'].isnull(),'Multiplas_linhas'] = 'No'

In [89]:
print(df.groupby(['Situacao_cliente'])['Situacao_cliente'].count())
print(df.groupby(['Categoria_cancelamento'])['Categoria_cancelamento'].count())
print(df.groupby(['Motivo_cancelamento'])['Motivo_cancelamento'].count())

df.count()

Situacao_cliente
Churned    1869
Joined      454
Stayed     4720
Name: Situacao_cliente, dtype: int64
Categoria_cancelamento
Attitude           314
Competitor         841
Dissatisfaction    321
Other              182
Price              211
Name: Categoria_cancelamento, dtype: int64
Motivo_cancelamento
Attitude of service provider                  94
Attitude of support person                   220
Competitor had better devices                313
Competitor made better offer                 311
Competitor offered higher download speeds    100
Competitor offered more data                 117
Deceased                                       6
Don't know                                   130
Extra data charges                            39
Lack of affordable download/upload speed      30
Lack of self-service on Website               29
Limited range of services                     37
Long distance charges                         64
Moved                                         46
Network reliability                           72
Poor expertise of online support              31
Poor expertise of phone support               12
Price too high                                78
Product dissatisfaction                       77
Service dissatisfaction                       63
Name: Motivo_cancelamento, dtype: int64

ID_cliente                      7043
Genero                          7043
Idade                           7043
Casado                          7043
Qtd_dependentes                 7043
Cidade                          7043
Codigo_postal                   7043
Latitude                        7043
Longitude                       7043
Qtd_referencias                 7043
Meses_na_base                   7043
Ultima_oferta                   7043
Servico_telefone                7043
Recarga_longa_distancia         7043
Multiplas_linhas                7043
Servico_internet                7043
Tipo_internet                   7043
Media_mensal_download_GB        7043
Servico_seguranca               7043
Servico_backup                  7043
Servico_protecao_dispositivo    7043
Servico_suporte_preferencial    7043
Servico_tv                      7043
Servico_filmes                  7043
Servico_musica                  7043
Servico_ilimitado_dados         7043
Tipo_contrato                   7043
Faturamento_sem_papel           7043
Tipo_pagamento                  7043
Cobranca_mensal                 7043
Total_cobranca                  7043
Total_reembolsos                7043
Cobrancas_extras                7043
Cobrancas_longa_distancia       7043
Total_cobranca                  7043
Situacao_cliente                7043
Categoria_cancelamento          1869
Motivo_cancelamento             1869
dtype: int64

## Removendo Colunas que não serão usadas

In [90]:
df = df.drop(df[['Categoria_cancelamento','Motivo_cancelamento']],axis = 1)

In [91]:
df

,ID_cliente,Genero,Idade,Casado,Qtd_dependentes,Cidade,Codigo_postal,Latitude,Longitude,Qtd_referencias,Meses_na_base,Ultima_oferta,Servico_telefone,Recarga_longa_distancia,Multiplas_linhas,Servico_internet,Tipo_internet,Media_mensal_download_GB,Servico_seguranca,Servico_backup,Servico_protecao_dispositivo,Servico_suporte_preferencial,Servico_tv,Servico_filmes,Servico_musica,Servico_ilimitado_dados,Tipo_contrato,Faturamento_sem_papel,Tipo_pagamento,Cobranca_mensal,Total_cobranca,Total_reembolsos,Cobrancas_extras,Cobrancas_longa_distancia,Total_cobranca,Situacao_cliente
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,9,None,Yes,42.39,No,Yes,Cable,16.0,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,9,None,Yes,10.69,Yes,Yes,Cable,10.0,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.0,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.0,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,3,None,Yes,7.38,No,Yes,Fiber Optic,11.0,No,No,No,Yes,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,13,Offer D,Yes,46.68,No,Yes,DSL,59.0,Yes,No,No,Yes,No,No,Yes,Yes,One Year,No,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,22,Offer D,Yes,16.20,Yes,Yes,Fiber Optic,17.0,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,2,Offer E,Yes,18.62,No,Yes,DSL,51.0,No,Yes,No,No,No,No,No,Yes,Month-to-Month,Yes,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,67,Offer A,Yes,2.12,No,Yes,Cable,58.0,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Two Year,No,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,63,None,No,0.00,No,Yes,Cable,5.0,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed

In [92]:
df = df[df['Situacao_cliente']!='Joined']

In [101]:
df

,ID_cliente,Genero,Idade,Casado,Qtd_dependentes,Cidade,Codigo_postal,Latitude,Longitude,Qtd_referencias,Meses_na_base,Ultima_oferta,Servico_telefone,Recarga_longa_distancia,Multiplas_linhas,Servico_internet,Tipo_internet,Media_mensal_download_GB,Servico_seguranca,Servico_backup,Servico_protecao_dispositivo,Servico_suporte_preferencial,Servico_tv,Servico_filmes,Servico_musica,Servico_ilimitado_dados,Tipo_contrato,Faturamento_sem_papel,Tipo_pagamento,Cobranca_mensal,Total_cobranca,Total_reembolsos,Cobrancas_extras,Cobrancas_longa_distancia,Total_cobranca,Situacao_cliente
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,9,None,Yes,42.39,No,Yes,Cable,16.0,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,9,None,Yes,10.69,Yes,Yes,Cable,10.0,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.0,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.0,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,3,None,Yes,7.38,No,Yes,Fiber Optic,11.0,No,No,No,Yes,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,9986-BONCE,Female,36,No,0,Fallbrook,92028,33.362575,-117.299644,0,4,None,Yes,2.01,No,No,No,0.0,No,No,No,No,No,No,No,No,Month-to-Month,No,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,Churned
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,13,Offer D,Yes,46.68,No,Yes,DSL,59.0,Yes,No,No,Yes,No,No,Yes,Yes,One Year,No,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,22,Offer D,Yes,16.20,Yes,Yes,Fiber Optic,17.0,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,67,Offer A,Yes,2.12,No,Yes,Cable,58.0,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Two Year,No,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,63,None,No,0.00,No,Yes,Cable,5.0,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed

## Engenharia de recursos

In [102]:
df.replace({'Casado': {'Yes': 1, 'No': 0},
            'Servico_telefone': {'Yes': 1, 'No': 0},
            'Servico_internet': {'Yes': 1, 'No': 0},
            'Multiplas_linhas': {'Yes': 1, 'No': 0},
            'Servico_seguranca': {'Yes': 1, 'No': 0},
            'Servico_backup': {'Yes': 1, 'No': 0},
            'Servico_protecao_dispositivo': {'Yes': 1, 'No': 0},
            'Servico_suporte_preferencial': {'Yes': 1, 'No': 0},
            'Servico_tv': {'Yes': 1, 'No': 0},
            'Servico_filmes': {'Yes': 1, 'No': 0},
            'Servico_musica': {'Yes': 1, 'No': 0},
            'Servico_ilimitado_dados': {'Yes': 1, 'No': 0},
            'Faturamento_sem_papeServico_telefonel': {'Yes': 1, 'No': 0},})

,ID_cliente,Genero,Idade,Casado,Qtd_dependentes,Cidade,Codigo_postal,Latitude,Longitude,Qtd_referencias,Meses_na_base,Ultima_oferta,Servico_telefone,Recarga_longa_distancia,Multiplas_linhas,Servico_internet,Tipo_internet,Media_mensal_download_GB,Servico_seguranca,Servico_backup,Servico_protecao_dispositivo,Servico_suporte_preferencial,Servico_tv,Servico_filmes,Servico_musica,Servico_ilimitado_dados,Tipo_contrato,Faturamento_sem_papel,Tipo_pagamento,Cobranca_mensal,Total_cobranca,Total_reembolsos,Cobrancas_extras,Cobrancas_longa_distancia,Total_cobranca,Situacao_cliente
0,0002-ORFBO,Female,37,1,0,Frazier Park,93225,34.827662,-118.999073,2,9,None,1,42.39,0,Yes,Cable,16.0,0,1,0,1,1,0,0,1,One Year,1,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed
1,0003-MKNFE,Male,46,0,0,Glendale,91206,34.162515,-118.203869,0,9,None,1,10.69,1,Yes,Cable,10.0,0,0,0,0,0,1,1,0,Month-to-Month,0,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed
2,0004-TLHLJ,Male,50,0,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,1,33.65,0,Yes,Fiber Optic,30.0,0,0,1,0,0,0,0,1,Month-to-Month,1,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned
3,0011-IGKFF,Male,78,1,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,1,27.82,0,Yes,Fiber Optic,4.0,0,1,1,0,1,1,0,1,Month-to-Month,1,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned
4,0013-EXCHZ,Female,75,1,0,Camarillo,93010,34.227846,-119.079903,3,3,None,1,7.38,0,Yes,Fiber Optic,11.0,0,0,0,1,1,0,0,1,Month-to-Month,1,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,9986-BONCE,Female,36,0,0,Fallbrook,92028,33.362575,-117.299644,0,4,None,1,2.01,0,No,No,0.0,0,0,0,0,0,0,0,0,Month-to-Month,0,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,Churned
7038,9987-LUTYD,Female,20,0,0,La Mesa,91941,32.759327,-116.997260,0,13,Offer D,1,46.68,0,Yes,DSL,59.0,1,0,0,1,0,0,1,1,One Year,0,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed
7039,9992-RRAMN,Male,40,1,0,Riverbank,95367,37.734971,-120.954271,1,22,Offer D,1,16.20,1,Yes,Fiber Optic,17.0,0,0,0,0,0,1,1,1,Month-to-Month,1,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned
7041,9993-LHIEB,Male,21,1,0,Solana Beach,92075,33.001813,-117.263628,5,67,Offer A,1,2.12,0,Yes,Cable,58.0,1,0,1,1,0,1,1,1,Two Year,0,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed
7042,9995-HOTOH,Male,36,1,0,Sierra City,96125,39.600599,-120.636358,1,63,None,0,0.00,0,Yes,Cable,5.0,1,1,1,0,1,1,1,1,Two Year,0,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed

In [106]:
print(df.groupby(['Ultima_oferta'])['Ultima_oferta'].count())

Ultima_oferta
None       3598
Offer A     520
Offer B     824
Offer C     415
Offer D     602
Offer E     630
Name: Ultima_oferta, dtype: int64